/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}

.orang-color{
    color: orange;
}


/* nav styles here,for on line flex can use */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}
.nav-title{
font-size: 45px;
}
nav >ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin: 45px;
}
nav a{
    text-decoration: none;
    color: rgb(95, 88, 88);
}

.btton-primary{

    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
}
.header{
    /* background-color: rgb(203, 200, 200); */
}
.banner{
    padding:10px 10px 10px 0px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}
/* header  */
.header{
    background-color: FFF8F3;
}